@charset "UTF-8";
/* Variables */
/* Estilos encabezado */
/* line 7, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
header .navbar-toggler-icon {
  color: white;
}

/* line 11, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
header .nav-item .nav-link {
  color: white;
}

/* line 13, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
header .nav-item .nav-link:hover {
  background-color: #a54040;
  color: white;
}

/* line 22, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
h1 {
  transition: all 1s;
}

/* Transicion de h1 y cambio de color */
/* line 28, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
h1:hover {
  color: white;
  font-size: 50px;
  background-color: #fc0909;
  padding: 20px;
  border: solid 5px hwb(235 16% 0%);
  margin: 10px;
}

/*Estilo para cuadro de texto de destinos.html */
/* line 41, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.destino-description {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* line 49, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.destino-description p {
  font-size: 20px;
}

/*Estilo para cuadro de texto de tours.html */
/* line 55, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.tour-description {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* line 63, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.tour-description p {
  font-size: 20px;
}

/* Estilo para las imágenes */
/* line 69, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.gallery-img {
  width: 100%;
  max-width: 400px;
  margin: 10px;
  transition: transform 0.3s ease;
}

/* Estilo para la animación de las imágenes al pasar el mouse */
/* line 77, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.gallery-img:hover {
  transform: scale(1.1);
  /* Cambia el tamaño de la imagen al pasar el mouse */
}

/* Estilos para  contacto */
/* line 83, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.contact-info {
  text-align: center;
  opacity: 0;
  /* Inicialmente, la información estará oculta */
  transition: opacity 0.5s ease;
  /* Transición de opacidad durante 0.5 segundos */
  margin-top: 20px;
}

/* Estilo para el botón que mostrará la información */
/* line 93, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.show-info-button {
  text-align: center;
  margin-top: 10px;
}

/* Estilo para el botón al hacer hover */
/* line 99, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.show-info-button:hover + .contact-info {
  opacity: 1;
}

/* line 104, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
#Hero-Section {
  background-image: url("../imagenes/patagonia-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

/* line 110, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
body {
  font-family: "Raleway", sans-serif;
}

/* line 113, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.banner-background {
  background-image: url("../imagenes/paisajedibujo.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 20px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 129, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.card.custom-box {
  border: none;
}

/* line 133, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.card.custom-box .card-title,
.card.custom-box .card-text {
  font-size: 24px;
}

/* line 138, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.owl-carousel .item {
  margin: 15px;
  /* Increase the margin for spacing */
}

/* line 143, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.owl-carousel .card {
  border: none;
  /* Remove the card border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Add a box shadow for a card-like effect */
}

/* line 150, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.owl-carousel .card-img-top {
  height: 200px;
  /* Set a fixed height for the card images */
  object-fit: cover;
  /* Ensure the image covers the entire space */
}

/* line 157, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.owl-carousel .card-body {
  padding: 15px;
}

/* line 161, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.gallery-img {
  width: 100%;
  display: block;
}

/* line 166, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.img-container {
  width: 100%;
  height: 250px;
  /* Ajusta la altura que desees */
  overflow: hidden;
}

/*# sourceMappingURL=estilos.css.map */