@charset "UTF-8";
/* Variables */
/* Estilos encabezado */
/* line 7, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
header .navbar {
  background-color: #007bff;
}

/* line 9, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
header .navbar .navbar-brand {
  color: white;
}

/* line 11, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
header .navbar .navbar-brand:hover {
  background-color: #fc0909;
  padding: 20px;
  border: 5px solid hwb(235 16% 0%);
  margin: 10px;
  transition: background-color 2s;
}

/* line 19, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
header .navbar .navbar-toggler-icon {
  color: white;
}

/* line 23, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
header .navbar .nav-item .nav-link {
  color: white;
}

/* line 25, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
header .navbar .nav-item .nav-link:hover {
  background-color: #db1f1f;
  color: white;
}

/* Estilos cuadros de texto */
/* line 35, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.custom-box {
  background-color: #FF5733;
  color: white;
}

/* line 40, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.custom-box-2 {
  background-color: #3498db;
  color: white;
}

/* line 45, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.custom-box-3 {
  background-color: #FF5733;
  color: white;
}

/* line 50, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
h1 {
  transition: all 1s;
}

/* Transicion de h1 y cambio de color */
/* line 56, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
h1:hover {
  color: white;
  font-size: 50px;
  background-color: #fc0909;
  padding: 20px;
  border: solid 5px hwb(235 16% 0%);
  margin: 10px;
}

/*Cambio de color al hacer scroll */
/* line 66, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.scroll-background {
  background-color: red;
  /* Color de fondo rojo */
  transition: background-color 0.5s;
  /*Transición suave */
}

/*Estilo para cuadro de texto de destinos.html */
/* line 73, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.destino-description {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* line 81, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.destino-description p {
  font-size: 20px;
}

/*Estilo para cuadro de texto de tours.html */
/* line 87, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.tour-description {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* line 95, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.tour-description p {
  font-size: 20px;
}

/* Estilo para las imágenes */
/* line 101, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.gallery-img {
  width: 100%;
  max-width: 400px;
  margin: 10px;
  transition: transform 0.3s ease;
}

/* Estilo para la animación de las imágenes al pasar el mouse */
/* line 109, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.gallery-img:hover {
  transform: scale(1.1);
  /* Cambia el tamaño de la imagen al pasar el mouse */
}

/* Estilos para  contacto */
/* line 115, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.contact-info {
  text-align: center;
  opacity: 0;
  /* Inicialmente, la información estará oculta */
  transition: opacity 0.5s ease;
  /* Transición de opacidad durante 0.5 segundos */
  margin-top: 20px;
}

/* Estilo para el botón que mostrará la información */
/* line 125, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.show-info-button {
  text-align: center;
  margin-top: 10px;
}

/* Estilo para el botón al hacer hover */
/* line 131, ../../../Documents/PreEntrega3JonathanCovarrubia/sass/estilos.scss */
.show-info-button:hover + .contact-info {
  opacity: 1;
}

/*# sourceMappingURL=estilos.css.map */