body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* Fondo blanco inicial */
    transition: background-color 0.5s; /* Transición de color de fondo durante 0.5 segundos */
  }
  
  /* Establece el color de fondo rojo al hacer scroll */
  body.scroll-background {
    background-color: #ff0000; 
  }
  
  /* Header*/
  .navbar {
    background-color: #3498db; /* Color de fondo azul */
  }
  
  nav a {
    color: #fff; /* Letras blancas */
  }
  
  /* Cajas de destinos */
  .destino {
    background-color: #fff; /* Color de fondo del cuadro */
    border: 1px solid #ddd; /* Borde del cuadro */
    padding: 20px;
    text-align: center;
    margin: 10px;
  }
  
  