/* Variables */
$color-primary: #007bff;
$color-secondary: hsl(0, 75%, 49%);

/* Estilos encabezado */
header {
  .navbar {
    background-color: $color-primary;
    .navbar-brand {
      color: white;
      &:hover {
        background-color: #fc0909;
        padding: 20px;
        border: 5px solid hwb(235 16% 0%);
        margin: 10px;
        transition: background-color 2s;
      }
    }
    .navbar-toggler-icon {
      color: white;
    }
    .nav-item {
      .nav-link {
        color: white;
        &:hover {
          background-color: $color-secondary;
          color: white;
        }
      }
    }
  }
}

/* Estilos cuadros de texto */
.custom-box {
  background-color: #FF5733;
  color: white;
}

.custom-box-2 {
  background-color: #3498db;
  color: white;
}

.custom-box-3 {
  background-color: #FF5733;
  color: white;
}

h1 {
  transition: all 1s;

}

/* Transicion de h1 y cambio de color */
h1:hover {
  color: rgb(255, 255, 255);
  font-size: 50px;
  background-color: #fc0909;
  padding: 20px;
  border: solid 5px hwb(235 16% 0%);
  margin: 10px;
}

/*Cambio de color al hacer scroll */
.scroll-background {
  background-color: red; /* Color de fondo rojo */
  transition: background-color 0.5s; /*Transición suave */
}

/*Estilo para cuadro de texto de destinos.html */ 

.destino-description {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;

  p {
    font-size: 20px;
  }
}

/*Estilo para cuadro de texto de tours.html */ 
.tour-description {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;

  p {
    font-size: 20px;
  }
}

/* Estilo para las imágenes */
.gallery-img {
  width: 100%;
  max-width: 400px;
  margin: 10px;
  transition: transform 0.3s ease;
}

/* Estilo para la animación de las imágenes al pasar el mouse */
.gallery-img:hover {
  transform: scale(1.1);
  /* Cambia el tamaño de la imagen al pasar el mouse */
}

 /* Estilos para  contacto */
 .contact-info {
  text-align: center;
  opacity: 0;
  /* Inicialmente, la información estará oculta */
  transition: opacity 0.5s ease;
  /* Transición de opacidad durante 0.5 segundos */
  margin-top: 20px;
}

/* Estilo para el botón que mostrará la información */
.show-info-button {
  text-align: center;
  margin-top: 10px;
}

/* Estilo para el botón al hacer hover */
.show-info-button:hover+.contact-info {
  opacity: 1;
  
}

#Hero-Section {
  background-image: url("../imagenes/patagonia-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
body {
  font-family: "Raleway", sans-serif;
}


.fondo-para-texto {
  background-color: hwb(211 55% 0%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #333;
  font-size: 1.2rem;
  transition: background-color 0.3s; /* Agrega una transición suave al cambio de color*/

  &:hover {
    background-color: #0d75e5; /* Cambia el color de fondo en hover */
    color: #fff; /* Cambia el color del texto en hover */
  }
}
